::ng-deep .custom-pagination .ngx-pagination {
  margin-bottom: 0;
  display: flex;
  gap: 8px;
}

::ng-deep .custom-pagination .ngx-pagination .current {
  background: #003d29 !important;
  border-radius: 50%;
  padding: 6px 14px;
}

::ng-deep .custom-pagination .ngx-pagination a {
  border-radius: 50%;
  padding: 6px 14px;
  transition: all 0.2s;
  color: #232323;
  text-decoration: none;
}

::ng-deep .custom-pagination .ngx-pagination a:hover {
  background: #e0f0f4;
  color: #003d29;
}
