<footer class="bg-gray-100 border-t border-gray-300">
    <div class="max-w-7xl mx-auto px-6 py-8">

        <!-- Top Row -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
            <div class="md:col-span-2">
                <h3 class="text-lg font-semibold text-gray-800">
                    Get The FreshCart App
                </h3>

                <p class="text-sm text-gray-600 mt-1">
                    We Will Send You a Link, Open it on Your Phone to download the app
                </p>

                <!-- INPUT + BUTTON -->
                <div class="flex items-center mt-4 gap-3">
                    <input type="email" placeholder="Email" class="flex-1 px-3 py-2 border border-gray-300 rounded-md
               focus:outline-none focus:ring-2 focus:ring-green-500" />

                    <button class="ml-auto bg-green-600 hover:bg-green-700 text-white
               px-6 py-2 rounded-md transition whitespace-nowrap">
                        Share App Link
                    </button>
                </div>
            </div>
        </div>

        <hr class="my-6 border-gray-300">

        <!-- Bottom part -->
        <div class="flex flex-wrap md:flex-nowrap items-center justify-between gap-6">

            <!-- Payment Partners -->
            <div class="flex items-center gap-4">
                <span class="text-sm text-gray-600 font-medium whitespace-nowrap">
                    Payment partners
                </span>

                <img src="/img/amazon-pay.png" alt="Amazon Pay" class="h-12 object-contain" />
                <img src="/img/american-express.png" alt="Amex" class="h-12 object-contain" />
                <img src="/img/paypal.png" alt="PayPal" class="h-8 object-contain" />
                <img src="/img/Mastercard.png" alt="Mastercard" class="h-8 object-contain" />
            </div>

            <!-- Right Side -->
            <div class="flex items-center gap-4">
                <p class="text-sm text-gray-500 whitespace-nowrap">
                    © 2026 FreshCart. All rights reserved.
                </p>

                <img src="/img/google-play.png" alt="Google Play" class="h-12 object-contain cursor-pointer" />
                <img src="/img/app-store.png" alt="App Store" class="h-8 object-contain cursor-pointer" />
            </div>

        </div>

    </div>
</footer>