<div class="bg-white w-full rounded-2xl overflow-hidden shadow-md hover:shadow-xl transition-all duration-300 group">

    <!-- Image -->
    <div class="relative overflow-hidden">
        <img class="w-full h-[200px] object-cover group-hover:scale-105 transition duration-500" [src]="category.image"
            alt="" />
    </div>

    <!-- Content -->
    <div class="p-4 text-center">
        <h4 class="text-green-600 text-sm font-semibold tracking-wide uppercase">
            {{ category.name }}
        </h4>
    </div>

</div>